{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{% set numberOfCols = config('Ceres.footer.number_of_cols') %}
{% set colSize = (12 / (numberOfCols + 1)) %}
{% set displayedCategories = [] %}
{% set numberOfFeatures = config('Ceres.footer.number_of_features') %}
{% set topButtonPosition = config('Ceres.footer.to_top_button') %}

<div class="footer">
  <div class="back-to-top">
    <i class="fa fa-chevron-up"></i>
</div>

  <div class="content">
    <div class="prefooter">
      <div class="container ">
	<div class="row">
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
			<p class="h4 margin-top-05 center">Zahlen Sie bequem per</p>
			<ul class="image-list">
				<li>
					<img src="https://cdn03.plentymarkets.com/mmx8yrv4qndt/frontend/LayoutCeres/paypal.png" alt="PayPal" title="" data-toggle="tooltip" data-placement="top" data-original-title="PayPal">
				</li>
				<li>
  	<img src="https://www.ml-handel-shop.de/layout/ueberweisung.png" style="width:75px !important;" alt="Überweisung" title="" data-toggle="tooltip" data-placement="top" data-original-title="Überweisung">
				</li>
			</ul>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
			<p class="h4 margin-top-05 center">Kauf auf Rechnung / Ratenzahlung mit</p>
			<ul class="image-list">
				<li>
					<img src="https://cdn03.plentymarkets.com/9gijel06z7qn/frontend/paypal/paypalplus.png" style="width: 125px !important;" alt="easycredit" title="" data-toggle="tooltip" data-placement="top" data-original-title="easycredit">
				</li>
			</ul>
		</div>
		<!-- Container_NavigationCategories8 selbst hinzugefügt -->
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
			<p class="h4 margin-top-05 center">Wir versenden mit</p>
			<ul class="image-list">
				<li>
					<img src="https://cdn03.plentymarkets.com/mmx8yrv4qndt/frontend/LayoutCeres/dhl.png" alt="DHL" title="" data-toggle="tooltip" data-placement="top" data-original-title="DHL">
				</li>
				<li>
					<img src="https://www.emons.de/wp-content/themes/emons14/images/emons_logo.png " alt="Emons" title="" data-toggle="tooltip" data-placement="top" data-original-title="DPD">
				</li>
			</ul>
		</div>
		<!-- Container_NavigationCategories8 -->
	</div>
</div>
    </div>

    <div class="middlefooter">
      <div class="container">

        <div class="col-sm-6 col-md-8">
          <div class="col-sm-12 col-md-6 row" style="z-index:100">
            <h4>
              <a href="/service">Service</a>
            </h4>
            <ul class="small">
              <li class="mail">
                <a href="/contact">info@beeketal.de</a>
              </li>
              <li class="phone">+49 (0)5956 - 98926-0</li>
              <li class="noicon">(Mo. bis Fr. von 8 bis 18 Uhr)</li>
              <li>
                <a href="information/versandkosten/">Lieferung und Versand</a>
              </li>
            </ul>
          </div>

        </div>

        <div class="col-sm-6 col-md-4">
          <h4>Leistung</h4>
          <ul class="small">

            <li>
              <a href="/information/zahlungsarten/">Kauf auf Rechnung möglich</a>
            </li>
          </ul>
          <!---<a class="trust160701" href=""></a> ---->
        </div>

        <div class="col-sm-9 margin-top">* Preise inkl. MwSt. zzgl. Versand</div>
      </div>

    </div>
  </div>
  {% set cat = services.category.get(config('Ceres.global.category.legal_disclosure')) %}
  <div class="copyright text-xs-center m-y-1">
    <div class="static-link-list">
      {% autoescape false %}
        <a href="{{ urls.cancellationRights }}">{{ trans("Ceres::Template.footerCancellationRight", {"hyphen": "&shy;"}) }}</a>
        {% if config("Ceres.footer.cancellation_use_pdf") == "true" %}
          <a href="{{ config('Ceres.footer.cancellation_pdf_path') }}" target="_blank">{{ trans("Ceres::Template.footerCancellationForm", {"hyphen": "&shy;"}) }}</a>
        {% else %}
          <a href="{{ urls.cancellationForm }}">{{ trans("Ceres::Template.footerCancellationForm", {"hyphen": "&shy;"}) }}</a>
        {% endif %}
        <a href="{{ urls.legalDisclosure }}">{{ trans("Ceres::Template.footerLegalDisclosure") }}</a>
        <a href="{{ urls.privacyPolicy }}">{{ trans("Ceres::Template.footerPrivacyPolicy", {"hyphen": "&shy;"}) }}</a>
        <a href="{{ urls.gtc }}">{{ trans("Ceres::Template.footerGtc") }}</a>
        {% if config("Ceres.contact.shop_mail") | length > 0 and config("Ceres.contact.shop_mail") != "your@email.com" %}
          <a href="{{ urls.contact }}">{{ trans("Ceres::Template.footerContact") }}</a>
        {% endif %}
      {% endautoescape %}
    </div>
  </a>
  <br>
  <small>&copy; Copyright
    {{ "now" | date("Y") }}
    |
    {{ trans("Ceres::Template.footerAllRightsReserved") }}</small>
</div>


</div>
