{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}
{% import "Ceres::Category.Macros.CategoryTree" as Tree %}



{{ component( "Ceres::Customer.Components.UserLoginHandler" ) }}
{{ component( "Ceres::PageDesign.Components.ShippingCountrySelect" ) }}
{{ component( "Ceres::PageDesign.Components.MobileNavigation" ) }}
{{ component( "Ceres::ItemList.Components.ItemSearch" ) }}
{{ component( "Ceres::WishList.Components.WishListCount" ) }}
{{ component( "Ceres::Basket.Components.BasketPreviewHover" ) }}

{% set lang = services.sessionStorage.getLang() %}
{% set enabledRoutes = config("IO.routing.enabled_routes") | split(', ') %}
{% set activeCurrencies = config("Ceres.currency.available_currencies") | split(', ') %}
{% set enableCurrencySelect = config("Ceres.currency.enable_selection") == "true" and activeCurrencies | length > 0 %}
{% set currencyFormat = config("Ceres.currency.format") %}
{% set currencyFormatSelect = config("Ceres.currency.format_selection") %}
{% set lang = services.sessionStorage.getLang() %}

<header>
  <div class="container header-navigation">
    <div class="header-desktop row">
      <div class="col-lg-2 col-md-4 col-sm-7 col-xs-12 logo-holder">
    <div class="logo"> <a href="/" title="Beeketal"><img src="https://cdn03.plentymarkets.com/9gijel06z7qn/frontend/logo2018.png"></a></div></div>
    <div class="col-lg-6 col-md-6 col-sm-5 col-xs-12 center-xs">
    </div>


  </div>

  </div>
<nav class="navbar navbar-default">
        <div class="">
          <ul class="nav navbar-nav">
            <li class="dropdown mega-dropdown data-hover="dropdown"">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Produkte <span class="glyphicon glyphicon-chevron-down pull-right"></span></a>

              <ul class="dropdown-menu mega-dropdown-menu row">
                <li class="col-sm-3">
                  <ul>
                    <li class="dropdown-header">Küchenausstattung</li>
                    <li><a href="#">Coloured Headers</a></li>
                    <li><a href="#">Primary Buttons & Default</a></li>
                    <li><a href="#">Calls to action</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Hotelausstattung</li>
                    <li><a href="#">Coloured Headers</a></li>
                    <li><a href="#">Primary Buttons & Default</a></li>
                    <li><a href="#">Calls to action</a></li>
                    <li class="dropdown-header">Grill</li>
                    <li><a href="#">Coloured Headers</a></li>
                    <li><a href="#">Primary Buttons & Default</a></li>
                    <li><a href="#">Calls to action</a></li>

                  </ul>
                </li>
            </li>
                <li class="col-sm-3">
                  <ul>
                    <li class="dropdown-header">Gaststättenausstattung</li>
                    <li><a href="#">Unique Features</a></li>
                    <li><a href="#">Image Responsive</a></li>
                    <li><a href="#">Auto Carousel</a></li>
                    <li><a href="#">Newsletter Form</a></li>
                    <li><a href="#">Four columns</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Fischverarbeitung</li>
                    <li><a href="#">Good Typography</a></li>
                  </ul>
                </li>
                <li class="col-sm-3">
                  <ul>
                    <li class="dropdown-header">Edelstahlmöbel</li>
                    <li><a href="#">Easy to customize</a></li>
                    <li><a href="#">Glyphicons</a></li>
                    <li><a href="#">Pull Right Elements</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Imbissausstattung</li>
                    <li><a href="#">Coloured Headers</a></li>
                    <li><a href="#">Primary Buttons & Default</a></li>
                    <li><a href="#">Calls to action</a></li>



                  </ul>
                </li>
                <li class="col-sm-3">
                  <ul>
                    <li class="dropdown-header">Partyserviceausstattung</li>
                    <li><a href="#">Easy to customize</a></li>
                    <li><a href="#">Glyphicons</a></li>
                    <li><a href="#">Pull Right Elements</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Bäckereiausstattung</li>
                    <li><a href="#">Coloured Headers</a></li>
                    <li><a href="#">Primary Buttons & Default</a></li>
                    <li><a href="#">Calls to action</a></li>
                    <li class="dropdown-header">Fleischereiausstattung</li>
                    <li><a href="#">Easy to customize</a></li>
                    <li><a href="#">Glyphicons</a></li>
                    <li><a href="#">Pull Right Elements</a></li>
                    <li class="divider"></li>

                  </ul>
                </li>
              </ul>

            </li>
          </ul>

        </div>
</nav>



</header>




<shop-country-settings country-flag-prefix="flag-icon-" :localization-data="{{ services.localization.getLocalizationData() | json_encode }}">
           <div id="countrySettings" class="row cmp cmp-country-settings no-margin collapse">
               <div class="container-max">
                   <div class="row no-padding">
                       <div class="country-settings-inner languages col-lg-6">

                           <div class="language-settings">
                               <div class="list-title">
                                   <strong>{{ trans("Ceres::Template.headerSelectLanguage") }}</strong>
                                   <hr>
                               </div>

                               {% set languageList = services.webstoreConfig.getActiveLanguageList() %}
                               {% set languageUrls = services.url.getLanguageURLs() %}
                               <ul>
                                   {% for language in languageList %}
                                       <li{% if lang == language %} class="active"{% endif %}>
                                           <a href="{% if languageUrls[language] is defined %}{{ languageUrls[language] ~ queryString() }}{% else %}/{{ language }}{{ urls.trailingSlashSuffix }}{% endif %}" data-update-url>
                                               <i class="flag-icon flag-icon-{{ language }}"></i>
                                               {{ trans("Ceres::Template.header" ~ language | capitalize) }}
                                           </a>
                                       </li>
                                   {% endfor %}
                               </ul>
                           </div>
                       </div>
                       <div class="country-settings-inner countries col-lg-6">
                           <div class="shipping-settings">
                               <div class="list-title">
                                   <strong>{{ trans("Ceres::Template.headerSelectShippingCountry") }}</strong>
                                   <hr>
                               </div>
                               <shipping-country-select :disable-input="{{ services.template.isCheckout() | json_encode() }}"></shipping-country-select>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </shop-country-settings>
