{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}
{% import "Ceres::Category.Macros.CategoryTree" as Tree %}



{{ component( "Ceres::Customer.Components.UserLoginHandler" ) }}
{{ component( "Ceres::PageDesign.Components.ShippingCountrySelect" ) }}
{{ component( "Ceres::PageDesign.Components.MobileNavigation" ) }}
{{ component( "Ceres::ItemList.Components.ItemSearch" ) }}
{{ component( "Ceres::WishList.Components.WishListCount" ) }}
{{ component( "Ceres::Basket.Components.BasketPreviewHover" ) }}

{% set lang = services.sessionStorage.getLang() %}
{% set enabledRoutes = config("IO.routing.enabled_routes") | split(', ') %}
{% set activeCurrencies = config("Ceres.currency.available_currencies") | split(', ') %}
{% set enableCurrencySelect = config("Ceres.currency.enable_selection") == "true" and activeCurrencies | length > 0 %}
{% set currencyFormat = config("Ceres.currency.format") %}
{% set currencyFormatSelect = config("Ceres.currency.format_selection") %}
{% set lang = services.sessionStorage.getLang() %}

<header>
<nav class="navbar navbar-default">
    <div class="logo"> <img src="https://www.beeketal.de/EbayLayout/logo.png"></div>
        <div class="collapse navbar-collapse js-navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown mega-dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Produkte <span class="glyphicon glyphicon-chevron-down pull-right"></span></a>

              <ul class="dropdown-menu mega-dropdown-menu row">
                <li class="col-sm-3">
              <ul>
                <li class="dropdown-header">Neuheit</li>
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                    <div class="item active">
                      <a href="#"><img src="http://placehold.it/254x150/3498db/f5f5f5/&text=New+Collection" class="img-responsive" alt="product 1"></a>
                      <h4><small>Grill</small></h4>
                      <button class="btn btn-primary" type="button">49,99 €</button>
                      <button href="#" class="btn btn-default" type="button"><span class="glyphicon glyphicon-heart"></span> Add to Wishlist</button>
                    </div>
                  </div>
                  <!-- End Carousel Inner -->
                </div>
                <!-- /.carousel -->
                <li class="divider"></li>
                <li><a href="#">View all Collection <span class="glyphicon glyphicon-chevron-right pull-right"></span></a></li>
              </ul>
            </li>
                <li class="col-sm-3">
                  <ul>
                    <li class="dropdown-header">Gaststättenausstattung</li>
                    <li><a href="#">Unique Features</a></li>
                    <li><a href="#">Image Responsive</a></li>
                    <li><a href="#">Auto Carousel</a></li>
                    <li><a href="#">Newsletter Form</a></li>
                    <li><a href="#">Four columns</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Fischverarbeitung</li>
                    <li><a href="#">Good Typography</a></li>
                  </ul>
                </li>
                <li class="col-sm-3">
                  <ul>
                    <li class="dropdown-header">Edelstahlmöbel</li>
                    <li><a href="#">Easy to customize</a></li>
                    <li><a href="#">Glyphicons</a></li>
                    <li><a href="#">Pull Right Elements</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Hotelausstattung</li>
                    <li><a href="#">Coloured Headers</a></li>
                    <li><a href="#">Primary Buttons & Default</a></li>
                    <li><a href="#">Calls to action</a></li>
                    <li class="dropdown-header">Grill</li>
                    <li><a href="#">Coloured Headers</a></li>
                    <li><a href="#">Primary Buttons & Default</a></li>
                    <li><a href="#">Calls to action</a></li>
                    <li class="dropdown-header">Küchenausstattung</li>
                    <li><a href="#">Coloured Headers</a></li>
                    <li><a href="#">Primary Buttons & Default</a></li>
                    <li><a href="#">Calls to action</a></li>
                  </ul>
                </li>
                <li class="col-sm-3">
                  <ul>
                    <li class="dropdown-header">Partyserviceausstattung</li>
                    <li><a href="#">Easy to customize</a></li>
                    <li><a href="#">Glyphicons</a></li>
                    <li><a href="#">Pull Right Elements</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Bäckereiausstattung</li>
                    <li><a href="#">Coloured Headers</a></li>
                    <li><a href="#">Primary Buttons & Default</a></li>
                    <li><a href="#">Calls to action</a></li>
                    <li class="dropdown-header">Fleischereiausstattung</li>
                    <li><a href="#">Easy to customize</a></li>
                    <li><a href="#">Glyphicons</a></li>
                    <li><a href="#">Pull Right Elements</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Imbissausstattung</li>
                    <li><a href="#">Coloured Headers</a></li>
                    <li><a href="#">Primary Buttons & Default</a></li>
                    <li><a href="#">Calls to action</a></li>
                  </ul>
                </li>
              </ul>

            </li>
          </ul>

        </div>
</nav>



</header>




<shop-country-settings country-flag-prefix="flag-icon-" :localization-data="{{ services.localization.getLocalizationData() | json_encode }}">
           <div id="countrySettings" class="row cmp cmp-country-settings no-margin collapse">
               <div class="container-max">
                   <div class="row no-padding">
                       <div class="country-settings-inner languages col-lg-6">

                           <div class="language-settings">
                               <div class="list-title">
                                   <strong>{{ trans("Ceres::Template.headerSelectLanguage") }}</strong>
                                   <hr>
                               </div>

                               {% set languageList = services.webstoreConfig.getActiveLanguageList() %}
                               {% set languageUrls = services.url.getLanguageURLs() %}
                               <ul>
                                   {% for language in languageList %}
                                       <li{% if lang == language %} class="active"{% endif %}>
                                           <a href="{% if languageUrls[language] is defined %}{{ languageUrls[language] ~ queryString() }}{% else %}/{{ language }}{{ urls.trailingSlashSuffix }}{% endif %}" data-update-url>
                                               <i class="flag-icon flag-icon-{{ language }}"></i>
                                               {{ trans("Ceres::Template.header" ~ language | capitalize) }}
                                           </a>
                                       </li>
                                   {% endfor %}
                               </ul>
                           </div>
                       </div>
                       <div class="country-settings-inner countries col-lg-6">
                           <div class="shipping-settings">
                               <div class="list-title">
                                   <strong>{{ trans("Ceres::Template.headerSelectShippingCountry") }}</strong>
                                   <hr>
                               </div>
                               <shipping-country-select :disable-input="{{ services.template.isCheckout() | json_encode() }}"></shipping-country-select>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </shop-country-settings>
