{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{% set numberOfCols = config('Ceres.footer.number_of_cols') %}
{% set colSize = (12 / (numberOfCols + 1)) %}
{% set displayedCategories = [] %}
{% set numberOfFeatures = config('Ceres.footer.number_of_features') %}
{% set topButtonPosition = config('Ceres.footer.to_top_button') %}

<div class="footer">
  <div class="back-to-top">
    <i class="fa fa-chevron-up"></i>
  </div>

  <div class="content">
    <div class="prefooter" style="background: white;">
      <div class="container ">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <p class="h4 margin-top-05 center">{{ trans("Ceres::Template.footerPaywall") }}</p>
            <ul class="image-list">
              <li>
                <img src="https://cdn03.plentymarkets.com/9gijel06z7qn/frontend/paypal/paypalplus.png" alt="PayPal" title="" data-toggle="tooltip" data-placement="top" data-original-title="PayPal" style="width: 250px !important;">
              </li>
              <li>
                <img src="https://cdn03.plentymarkets.com/9gijel06z7qn/frontend/paypal/ueberweisung.png" style="width:65px !important;" alt="Überweisung" title="" data-toggle="tooltip" data-placement="top" data-original-title="Überweisung">
              </li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <p class="h4 margin-top-05 center">{{ trans("Ceres::Template.footerinstallment") }}</p>
            <ul class="image-list">
              <li>
                <img src="https://cdn03.plentymarkets.com/9gijel06z7qn/frontend/paypal/200x43_Ratenkauf_Logo_mitSubline.png" style="width: 200px !important;" alt="easycredit" title="" data-toggle="tooltip" data-placement="top" data-original-title="easycredit">
              </li>
            </ul>
          </div>
          <!-- Container_NavigationCategories8 selbst hinzugefügt -->
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <p class="h4 margin-top-05 center">{{ trans("Ceres::Template.footerdelivery") }}</p>
            <ul class="image-list">
              <li>
                <img src="https://cdn03.plentymarkets.com/9gijel06z7qn/frontend/DHL3.png" alt="DHL" style="max-width: 200px" title="" data-toggle="tooltip" data-placement="top" data-original-title="DHL">
              </li>
              <li>
                <img src="https://cdn03.plentymarkets.com/9gijel06z7qn/frontend/emonsgelb.jpg" style="max-width: 200px" alt="Emons" title="" data-toggle="tooltip" data-placement="top" data-original-title="Emons">
              </li>
            </ul>
          </div>
          <!-- Container_NavigationCategories8 -->
        </div>
      </div>
    </div>

    <div class="middlefooter">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6" style="z-index:100">
            <h4>
              <a href="/service">Service</a>
            </h4>
            <!-- <ul class="small">
              <li class="mail">
                <a href="/contact">info@beeketal.de</a>
              </li>
              <li class="phone">+49 (0)5956 - 98926-0</li>

              <li class="whatsapp">+49 (0)152 34770138</li>
              <li class="noicon">(Mo. bis Fr. von 7 bis 17 Uhr)</li>
              <li>
                <a href="https://www.beeketal.de/content/versand/">Lieferung und Versand</a>
              </li>
            </ul> -->
            <ul class="fa-ul" style="">
  <li><span class="fa-li"><i style="font-size: large;" class="fa fa-envelope"></i></span><a href="/contact">info@beeketal.de</a></li>
  <li><span class="fa-li"><i style="font-size: large;" class="fa fa-phone"></i></span>+49 (0)5956 - 98926-0</li>
  <li><span class="fa-li"><i style="font-size: large;" class="fa fa-whatsapp"></i></span>+49 (0)152 34770138</li>
  <li><span class="fa-li"><i style="font-size: large;" class="fa fa-fax"></i></span>+49 (0) 5956 98926-29</li>
  <li><span class="fa-li"><i style="font-size: large;" class="fa fa-clock-o"></i></span>(Mo. bis Fr. von 7 bis 17 Uhr)</li>
</ul>
          </div>

          <div class="col-sm-12 col-md-6">
            <h4>{{ trans("Ceres::Template.footerService") }}</h4>
            <ul class="small">

              <li>
                <a href="https://www.beeketal.de/content/zahlungsarten/">{{ trans("Ceres::Template.footerbuybill") }}</a>
              </li>
            </ul>
            <!---<a class="trust160701" href=""></a> ---->
          </div>
          <div class="col-sm-12 margin-top">            <a href="https://www.beeketal.de/content/versand/">*{{ trans("Ceres::Template.footeronestar") }}</a>
          </br>
          <a href="https://www.beeketal.de/content/versand/">**{{ trans("Ceres::Template.footertwostars") }}</a>
        </div>

      </div>

    </div>

  </div>
</div>

{% set cat = services.category.get(config('Ceres.global.category.legal_disclosure')) %}
<div class="copyright text-center my-1">
  <div class="static-link-list">
    {% autoescape false %}
      <a href="{{ urls.cancellationRights }}">{{ trans("Ceres::Template.footerCancellationRight", {"hyphen": "&shy;"}) }}</a>
      {% if config("Ceres.footer.cancellation_use_pdf") == "true" %}
        <a href="{{ config('Ceres.footer.cancellation_pdf_path') }}" target="_blank">{{ trans("Ceres::Template.footerCancellationForm", {"hyphen": "&shy;"}) }}</a>
      {% else %}
        <a href="{{ urls.cancellationForm }}">{{ trans("Ceres::Template.footerCancellationForm", {"hyphen": "&shy;"}) }}</a>
      {% endif %}
      <a href="{{ urls.legalDisclosure }}">{{ trans("Ceres::Template.footerLegalDisclosure") }}</a>
      <a href="{{ urls.privacyPolicy }}">{{ trans("Ceres::Template.footerPrivacyPolicy", {"hyphen": "&shy;"}) }}</a>
      <a href="{{ urls.gtc }}">{{ trans("Ceres::Template.footerGtc") }}</a>
      {% if config("Ceres.contact.shop_mail") | length > 0 and config("Ceres.contact.shop_mail") != "your@email.com" %}
        <a href="{{ urls.contact }}">{{ trans("Ceres::Template.footerContact") }}</a>
      {% endif %}
    {% endautoescape %}
  </div>
</a>
<br>
<small>&copy; Copyright
  {{ "now" | date("Y") }}
  |
  {{ trans("Ceres::Template.footerAllRightsReserved") }}</small>
</div>
<div class="postfooter">
<div class="container">
  <div class="row">
    <div class="col-sm-8 socials160613">
      <a href="https://www.facebook.com/beeketal" class="fa fa-facebook"></a>
      <a href="https://www.youtube.com/user/BEEKETAL/videos" class="fa"><div color="grey2" width="16" height="16" class="youtubeicon"><svg width="45" height="45" viewBox="0 0 24 24"><path d="M20 4.49l-1.46-.15a64.12 64.12 0 00-13.14 0L4 4.49A3.38 3.38 0 001 7.9v8.2a3.38 3.38 0 003 3.41l1.46.15a64.12 64.12 0 0013.14 0l1.4-.15a3.38 3.38 0 003-3.41V7.9a3.38 3.38 0 00-3-3.41zm-5 8.13l-3.89 2.6A.75.75 0 0110 14.6V9.4a.75.75 0 011.17-.62l3.89 2.6a.74.74 0 010 1.24z"></path></svg></div></a>
      <a href="https://www.instagram.com/beeketal.de/" class="fa fa-instagram"></a>
    </div>
  </div>
</div>
</div>

</div>
